<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8" content="text/html; charset=utf-8">
    <title>Welcome to Car base app</title>
</head>
<body>
<header>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo" alt="mainpage"><a href="index.html">Car base</a></div>
                <nav class="nav">
                    <a class="nav__link" href="/users">List of all users</a>
                    <a class="nav__link" href="/requests">Requests</a>
                    <a class="nav__link" href="/routes">Routes</a>
                </nav>
            </div>
        </div>
    </header>

</header>
<h2>

        <p>>Welcome to home page.

    <p> There are a lot to do, but you can do simple CRUD operations with DataBase.
    <p>TODO LIST:
    <p>1)Create relationships between tables in Model classes and between tables.
    <p>2)Create input data validation.
    <p>3) Create registration and authorization.
    <p>4) Add logger to the project.


</h2>
</body>
</html>