<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo" ><a href="index.html">Car base</a></div>
            <nav class="nav">
                <a class="nav__link" href="/users">List of all users</a>
                <a class="nav__link active" href="/requests">Requests</a>
                <a class="nav__link" href="/routes">Routes</a>
            </nav>
        </div>
    </div>
</header>

<div th:switch="${requests}" class="table">
    <h2 th:case="null"> No requests found!</h2>
    <div th:case="*">
        <table style=" border-spacing: 0 10px; font-family: 'Open Sans', sans-serif; font-weight: bold;">
            <thead>
            <tr>
                <th width="80">ID</th>
                <th width="120">DESCRIPTION</th>
                <th width="60">EDIT</th>
                <th width="60">DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request: ${requests}">
                <td th:text="${request.id}"></td>
                <td th:text="${request.description}"></td>
                <td><a th:href="@{requestupdate/{id}(id=${request.id})}">Edit</a></td>
                <td><a th:href="@{requestdelete/{id}(id=${request.id})}">Delete</a></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<form class="createuser" action="/requestcreate" target="_blank">
    <button>Create request</button>

</body>
</html>